
<section>
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="col-12 col-md-6 order-1 order-md-0 align-self-md-end">
        <div class="row py-3 py-sm-5 py-xl-9 mt-md-10 justify-content-sm-center">
          <div class="col-12 col-sm-10">
            <h2 class="display-2 fw-bolder mb-4 text-dark">Monitorea tus plantas con IA.</h2>
            <div class="row">
              <div class="col-12 col-xxl-8">
                <p class="fs-5 mb-5 text-dark">Monitorización Automática y Optimización Inteligente para Grandes Cultivos y Jardines</p>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <img class="img-fluid w-100 h-100 object-fit-cover" loading="lazy" src="../../../assets/hero.jpg" alt="We Offer Modern Web Solutions">
        
      </div>
    </div>
  </div>

  <div class="container text-dark banner">
    <div class="row p-4  pb-4 pe-lg-0 pt-lg-5 align-items-center rounded-2 border shadow-sm">
      <div class="col-lg-7  p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="#" alt="" width="720">
      </div>
    </div>
    <div class="row bg-black text-light">
      <div class="col-4">
        sadasd
      </div>
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdas
      </div>

    </div>
  </div>
</section>

  

 
